## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts <= 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
all_class = application_df["CLASSIFICATION"].value_counts()
all_class

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
all_class.loc[all_class > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(all_class[all_class < 800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummy_df = pd.get_dummies(application_df)
application_dummy_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_dummy_df.drop(columns=["IS_SUCCESSFUL"], axis=1).values
y = application_dummy_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model-Adding 2 Additional Hidden Layers

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=43, activation="relu", input_dim=input))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=43, activation="relu"))

# Adding 2 additional hidden layers
nn.add(tf.keras.layers.Dense(units=43, activation="relu"))
nn.add(tf.keras.layers.Dense(units=43, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 43)                1892

 dense_1 (Dense)             (None, 43)                1892

 dense_2 (Dense)             (None, 43)                1892

 dense_3 (Dense)             (None, 43)                1892

 dense_4 (Dense)             (None, 1)                 44

=================================================================
Total params: 7612 (29.73 KB)
Trainable params: 7612 (29.73 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5710 - accuracy: 0.7203
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5537 - accuracy: 0.7283
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5505 - accuracy: 0.7312
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5498 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7317
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5476 - accuracy: 0.7327
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7332
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7335
Epoch 9/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5451 - accuracy: 0.7342
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7339
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5446 - accuracy: 0.7351
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7346
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5430 - accuracy: 0.7345
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5430 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5421 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7363
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7362
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7360
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7369
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7375
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7374
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7371
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5397 - accuracy: 0.7368
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - accuracy: 0.7368
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7377
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - accuracy: 0.7376
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7377
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5389 - accuracy: 0.7371
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7379
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5384 - accuracy: 0.7377
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5377 - accuracy: 0.7384
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5372 - accuracy: 0.7377
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5369 - accuracy: 0.7383
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7388
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7390
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5362 - accuracy: 0.7398
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7389

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5604 - accuracy: 0.7280 - 755ms/epoch - 3ms/step
Loss: 0.5604135394096375, Accuracy: 0.7280466556549072

## No additional acccuracy gained from adding additional hidden layers
## Changing bin sizes/thresholds

In [16]:
# Rerunning binning process for APPLICATION column
app_counts2 = application_df["APPLICATION_TYPE"].value_counts()

# Choosing a new threshold
application_types_to_replace2 = list(app_counts2[app_counts2 <= 1000].index)

# Replace in dataframe
for app in application_types_to_replace2:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Rerunning binning process for CLASSIFICATION column
all_class2 = application_df["CLASSIFICATION"].value_counts()

# Choosing a new threshold
classifications_to_replace2 = list(all_class2[all_class2 < 2000].index)

# Replace in dataframe
for cls in classifications_to_replace2:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummy_df2 = pd.get_dummies(application_df)

# Split our preprocessed data into our features and target arrays
X = application_dummy_df2.drop(columns=["IS_SUCCESSFUL"], axis=1).values
y = application_dummy_df2["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = len(X_train_scaled[0])
nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(tf.keras.layers.Dense(units=43, activation="relu", input_dim=input))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=43, activation="relu"))

# Adding 2 additional hidden layers
nn2.add(tf.keras.layers.Dense(units=43, activation="relu"))
nn2.add(tf.keras.layers.Dense(units=43, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 43)                1677

 dense_6 (Dense)             (None, 43)                1892

 dense_7 (Dense)             (None, 43)                1892

 dense_8 (Dense)             (None, 43)                1892

 dense_9 (Dense)             (None, 1)                 44

=================================================================
Total params: 7397 (28.89 KB)
Trainable params: 7397 (28.89 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model2 = nn2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5796 - accuracy: 0.7144
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5630 - accuracy: 0.7267
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5595 - accuracy: 0.7278
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5580 - accuracy: 0.7290
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5568 - accuracy: 0.7299
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5561 - accuracy: 0.7308
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5551 - accuracy: 0.7309
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5546 - accuracy: 0.7304
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7304
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7319
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5525 - accuracy: 0.7320
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5525 - accuracy: 0.7326
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5518 - accuracy: 0.7321
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5519 - accuracy: 0.7325
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5514 - accuracy: 0.7327
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5511 - accuracy: 0.7336
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5510 - accuracy: 0.7335
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5504 - accuracy: 0.7334
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5498 - accuracy: 0.7346
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5499 - accuracy: 0.7344
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5497 - accuracy: 0.7333
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5495 - accuracy: 0.7344
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5493 - accuracy: 0.7346
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5492 - accuracy: 0.7341
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7338
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7343
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7345
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7341
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7354
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7353
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7348
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7352
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7347
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5474 - accuracy: 0.7351
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7355
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7354
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7354
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5468 - accuracy: 0.7357
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5468 - accuracy: 0.7354
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5467 - accuracy: 0.7355
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5466 - accuracy: 0.7355
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5459 - accuracy: 0.7357
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5469 - accuracy: 0.7355
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5460 - accuracy: 0.7354
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5461 - accuracy: 0.7347
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5459 - accuracy: 0.7356
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7360
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7363
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5454 - accuracy: 0.7363
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5453 - accuracy: 0.7360

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5659 - accuracy: 0.7277 - 712ms/epoch - 3ms/step
Loss: 0.5658968687057495, Accuracy: 0.7276967763900757

## No additional acccuracy gained from changing bin parameters
## Removing INCOME_AMT column and increasing epochs

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummy_df3 = application_df.drop(columns=["INCOME_AMT"], axis=1)
application_dummy_df3 = pd.get_dummies(application_dummy_df3)

# Split our preprocessed data into our features and target arrays
X = application_dummy_df3.drop(columns=["IS_SUCCESSFUL"], axis=1).values
y = application_dummy_df3["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = len(X_train_scaled[0])
nn3 = tf.keras.models.Sequential()

# First hidden layer
nn3.add(tf.keras.layers.Dense(units=43, activation="relu", input_dim=input))

# Second hidden layer
nn3.add(tf.keras.layers.Dense(units=43, activation="relu"))

# Adding 2 additional hidden layers
nn3.add(tf.keras.layers.Dense(units=43, activation="relu"))
nn3.add(tf.keras.layers.Dense(units=43, activation="relu"))

# Output layer
nn3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn3.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 43)                1290

 dense_11 (Dense)            (None, 43)                1892

 dense_12 (Dense)            (None, 43)                1892

 dense_13 (Dense)            (None, 43)                1892

 dense_14 (Dense)            (None, 1)                 44

=================================================================
Total params: 7010 (27.38 KB)
Trainable params: 7010 (27.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
# Compile the model
nn3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model3 = nn3.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5797 - accuracy: 0.7165
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5705 - accuracy: 0.7230
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5688 - accuracy: 0.7224
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5677 - accuracy: 0.7247
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5670 - accuracy: 0.7254
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5666 - accuracy: 0.7250
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5664 - accuracy: 0.7253
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5651 - accuracy: 0.7257
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5653 - accuracy: 0.7258
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5653 - accuracy: 0.7261
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5650 - accuracy: 0.7257
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5643 - accuracy: 0.7259
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5638 - accuracy: 0.7264
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5629 - accuracy: 0.7258
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5632 - accuracy: 0.7268
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5632 - accuracy: 0.7262
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5626 - accuracy: 0.7272
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5627 - accuracy: 0.7266
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5617 - accuracy: 0.7273
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5624 - accuracy: 0.7278
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5617 - accuracy: 0.7281
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5608 - accuracy: 0.7280
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5611 - accuracy: 0.7281
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5606 - accuracy: 0.7275
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5608 - accuracy: 0.7280
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5606 - accuracy: 0.7282
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5599 - accuracy: 0.7283
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5598 - accuracy: 0.7285
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5596 - accuracy: 0.7291
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5602 - accuracy: 0.7286
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5598 - accuracy: 0.7289
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5591 - accuracy: 0.7291
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5592 - accuracy: 0.7292
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5592 - accuracy: 0.7295
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5592 - accuracy: 0.7294
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5586 - accuracy: 0.7298
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5582 - accuracy: 0.7299
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5591 - accuracy: 0.7291
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7294
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5585 - accuracy: 0.7304
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5581 - accuracy: 0.7299
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5573 - accuracy: 0.7307
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5577 - accuracy: 0.7297
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5579 - accuracy: 0.7304
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5579 - accuracy: 0.7299
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5574 - accuracy: 0.7306
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5579 - accuracy: 0.7302
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5571 - accuracy: 0.7300
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5576 - accuracy: 0.7303
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5573 - accuracy: 0.7313
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5569 - accuracy: 0.7306
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5570 - accuracy: 0.7300
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5570 - accuracy: 0.7313
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5571 - accuracy: 0.7305
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7304
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5568 - accuracy: 0.7306
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5571 - accuracy: 0.7302
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7311
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5567 - accuracy: 0.7310
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7317
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7309
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7311
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7303
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7311
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7298
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5567 - accuracy: 0.7308
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5563 - accuracy: 0.7315
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7312
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5564 - accuracy: 0.7303
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5560 - accuracy: 0.7315
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5561 - accuracy: 0.7313
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7314
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5554 - accuracy: 0.7313
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5556 - accuracy: 0.7311
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7311
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7313
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5558 - accuracy: 0.7303
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7320
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5556 - accuracy: 0.7315
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5557 - accuracy: 0.7321
Epoch 81/100

804/804 [==============================] - 3s 3ms/step - loss: 0.5552 - accuracy: 0.7317
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5553 - accuracy: 0.7316
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5553 - accuracy: 0.7320
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5556 - accuracy: 0.7303
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5558 - accuracy: 0.7303
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5553 - accuracy: 0.7308
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5556 - accuracy: 0.7311
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7319
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5554 - accuracy: 0.7309
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5547 - accuracy: 0.7315
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5547 - accuracy: 0.7317
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5554 - accuracy: 0.7309
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5547 - accuracy: 0.7322
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5555 - accuracy: 0.7316
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5554 - accuracy: 0.7314
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5555 - accuracy: 0.7314
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5550 - accuracy: 0.7322
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5550 - accuracy: 0.7324
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5549 - accuracy: 0.7317
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5554 - accuracy: 0.7318

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5666 - accuracy: 0.7268 - 639ms/epoch - 2ms/step
Loss: 0.5666387677192688, Accuracy: 0.7267638444900513

In [26]:
# Export our model to HDF5 file
file = 'C:/Users/carlt/Documents/DA Bootcamp/Deep-Learning-Challenge/Alphabet Soup/AlphabetSoupCharity_Optimization.h5'
nn.save(file)

C:\Users\carlt\Anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(